*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: #1C1C1C;
    background-color: #FFFAFA;
    width: 100%;
    overflow-y: hidden;
}
h2{
    font-size: 1.0rem;
}
.container{
    max-width: 300px;
    margin: auto;
}

.titulo{
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0px;
}
.sub-titulo{
    font-weight: 500;
}

.card-saldo h2{
    margin-top: 10px;
}
.card-saldo #saldo{
    font-weight: 500;
    color: #1E90FF;
}

.card-controle{
    background-color: #fff;
    border: solid 1px #A9A9A9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.card-controle h2{
    font-size: 1.2rem;
    font-weight: 500;
}
.card-controle p{
    font-weight: 500;
}
.card-controle #receitas{
    color: #32CD32;
    width: 95px;
}
.card-controle #despesas{
    color: #FF0000;
    width: 95px;
}
.card-controle hr{
    height: 40px;
    color: #A9A9A9;
}
.card-transacoes{
    margin-top: 30px;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 35px;
    padding: 0px 10px;
    font-size: 1.0rem;
    margin: 10px 5px;
    box-shadow: 2px 2px 15px -10px #1C1C1C;
    position: relative;
}
.excluir::before{
    content: 'x';
    font-weight: 500;
    background-color: #FF0000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    cursor: pointer;
    position: absolute;
    border-radius: 2px;
    left: -15px;

}
#transacoes-positivas .card{
    border-right: solid 2px #32CD32;
}
#transacoes-negativas .card{
    border-right: solid 2px #FF0000;
}

.card-adicionar{
    margin-top: 30px;
}

.card-adicionar label{
    font-size: 1.0rem;
    font-weight: 500;
}
.card-adicionar input{
    width: 280px;
    height: 30px;
    border: solid 1px #1C1C1C;
    padding: 0px 10px;
}
.card-adicionar input:focus{
    outline: 0;
    border: solid 1px #1E90FF;
}

#adicionar{
    font-size: 1.2rem;
    color: #FFFAFA;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    background-color: #32CD32;
    border: none;
    box-shadow: 5px 5px 15px -10px #1C1C1C;
}